In [6]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("data/cleaned_data1.csv")

In [8]:
df=pd.read_csv("data/cleaned_data1.csv")

# fill bathroom nulls with toilet counts
df=df.rename(columns={"bathroomCount":"toilet_and_bath"})
df["toilet_and_bath"]=df["toilet_and_bath"].fillna(df["toiletCount"])
df["toilet_and_bath"]=df["toilet_and_bath"].fillna(1)
df.drop(columns=["id","toiletCount","buildingConstructionYear", "floodZoneType", "kitchenType","landSurface","hasLivingRoom"], inplace= True)
# fill nulls of has terrace with false
df["hasTerrace"]=df["hasTerrace"].fillna(False).astype(bool)
# drop rows with more than 3(2260)
df=df[~(df.isnull().sum(axis=1)>3)]
# drop nulls in habitable surface AND bedroom count
df=df[~(df["bedroomCount"].isnull())]
df=df[~(df["habitableSurface"].isnull())]

# filla nulls in totalparking count with 0
df["totalParkingCount"]=df["totalParkingCount"].fillna(0)

# drop the rows where all three are null(buildingcondition, fascedcount, epcscore)
df=df[~(df.isnull().sum(axis=1)>=2)]

C:\Users\preet\AppData\Local\Temp\ipykernel_3704\1417773335.py:9: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["hasTerrace"]=df["hasTerrace"].fillna(False).astype(bool)

In [9]:
df.shape,df.isnull().sum()

((56005, 14),
 type                     0
 subtype                  0
 bedroomCount             0
 toilet_and_bath          0
 province                 0
 locality                 0
 postCode                 0
 habitableSurface         0
 buildingCondition     7780
 facedeCount          11367
 hasTerrace               0
 epcScore              3247
 price                    0
 totalParkingCount        0
 dtype: int64)

In [14]:
df = df.replace('nan', np.nan)
df = df.replace('NaN', np.nan)
x=df.dropna()
x.shape, x.isna().sum()

((33611, 14),
 type                 0
 subtype              0
 bedroomCount         0
 toilet_and_bath      0
 province             0
 locality             0
 postCode             0
 habitableSurface     0
 buildingCondition    0
 facedeCount          0
 hasTerrace           0
 epcScore             0
 price                0
 totalParkingCount    0
 dtype: int64)

In [15]:
#sns.scatterplot(data=df, x="subtype", y=")

In [10]:
df.to_csv("data/nonull_cleaned_data.csv", index=False)
df.shape
df.columns

Index(['type', 'subtype', 'bedroomCount', 'toilet_and_bath', 'province',
       'locality', 'postCode', 'habitableSurface', 'buildingCondition',
       'facedeCount', 'hasTerrace', 'epcScore', 'price', 'totalParkingCount'],
      dtype='object')

In [17]:
df.to_csv("data/cleaned_data_before_imputation.csv", index=False)
print(df.shape)
# impute the null in facede count with 1
df["facedeCount"]=df["facedeCount"].fillna(1)
df["buildingCondition"]=df["buildingCondition"].fillna("missing")
df["epcScore"]=df["epcScore"].fillna("missing")

(56005, 14)

In [19]:
df.to_csv("data/cleaned_data_after_imputation.csv", index=False)
df.shape

(56005, 14)